.container-fluid.black
    footer.container.relative.pyramid-yel.p-y
        .row
            .col-lg-2.link-color.pt-3
                a(href="#")
                    img.pdg-logo(src="../img/businessplus-logo.png" alt="logo")
                p.copyright 2015 © lawyer.
                a(href="#")
                    i.fa.fa-facebook-square.fa-3x(aria-hidden="true")
                a(href="#")
                    i.fa.fa-google-plus-official.fa-3x(aria-hidden="true")
                a(href="#")
                    i.fa.fa-twitter-square.fa-3x(aria-hidden="true")
                a(href="#")
                    i.fa.fa-linkedin-square.fa-3x(aria-hidden="true")
            .col-lg-3.offset-lg-2
                p.form-head.pl-1 Navigation
                nav.navbar
                    ul.nav.nav-footer
                        li.nav-item
                            a.nav-link(href="#") home
                        li.nav-item
                            a.nav-link(href="#") about us
                        li.nav-item
                            a.nav-link(href="#") services
                        li.nav-item
                            a.nav-link(href="#") news
                        li.nav-item
                            a.nav-link(href="#") blog
                        li.nav-item
                            a.nav-link(href="#") pages
                        li.nav-item
                            a.nav-link(href="#") contact us
            .col-lg-5
                form
                    p.form-head.pb-2 quick contact us
                    table.border-form
                        tr
                            td.td-padding
                                input.relative(type="text" name="Name" value="Name")
                            td.td-padding
                                input(type="email" name="email" value="Email")
                        tr
                            td(colspan="2")
                                textarea(name="comment" placeholder="Comment")
                    p
                        button.btn.btn-type.mt-2(type="button") Submit Now