.container.relative.absolute
    header.container.absolute.header-size.px-0
        .row.flex-items-lg-middle
            .col-lg-2
                a(href="#")
                    img(src="../img/businessplus-logo.png" width="164" height="34")
            .col-lg-3
                .row.flex-items-lg-middle
                    i.fa.fa-phone.fa-2x.pl-1.border-line.pl-1(aria-hidden="true")
                    p.pt-1.pl-1.tx-color +9978-8856-999
            .col-lg-7
                nav.navbar.px-0
                    ul.nav.navbar-nav.nav-head-text
                        li.nav-item
                            a.nav-link(href="#") home
                        li.nav-item
                            a.nav-link(href="#") about us
                        li.nav-item
                            a.nav-link(href="#") services
                        li.nav-item
                            a.nav-link(href="#") news
                        li.nav-item
                            a.nav-link(href="#") blog
                        li.nav-item
                            a.nav-link(href="#") pages
                        li.nav-item
                            a.nav-link(href="#") contact us