doctype html
html(lang="en")
    head
        title about us
        include includes/head
    body
        .container.relative.absolute
            header.container.absolute.header-size.px-0
                .row.flex-items-lg-middle
                    .col-lg-2
                        a(href="#")
                            img(src="../img/businessplus-logo.png" width="164" height="34")
                    .col-lg-3
                        .row.flex-items-lg-middle
                            i.fa.fa-phone.fa-2x.pl-1.border-line.pl-1(aria-hidden="true")
                            p.pt-1.pl-1.tx-color +9978-8856-999
                    .col-lg-7
                        nav.navbar.px-0
                            ul.nav.navbar-nav.nav-head-text
                                li.nav-item
                                    a.nav-link(href="#") home
                                li.nav-item
                                    a.nav-link.orange(href="#") about us
                                li.nav-item
                                    a.nav-link(href="#") services
                                li.nav-item
                                    a.nav-link(href="#") news
                                li.nav-item
                                    a.nav-link(href="#") blog
                                li.nav-item
                                    a.nav-link(href="#") pages
                                li.nav-item
                                    a.nav-link(href="#") contact us
        .banner-cont.background-color.relative
            img.banner(src="../img/about-us-bg.png" alt="banner")
    .container.p-y.px-0
        h6.blog-title About us
        p.blog-subtitle Our Short Story
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          |standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          |  a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          |  remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
          |  Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
          |  of Lorem Ipsum.
          |  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          |  literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
          |  College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
          |  going through the cites of the word in classical literature, discovered the undoubtable source.
        .mt-3.back-img.btn-loc
            button.btn.btn-type.btn-size.mr-1 Lets Talk
            button.btn.btn-type.btn-size.mr-1 Clients
    .container-fluid.grey.px-0
        .container.p-y.pyramid-b-left.relative
            h6.blog-title Our views
            p.blog-subtitle Our Concepts
            .row
                .col-lg-3.pl-0
                    img.background-color(src="../img/views-pic1.png")
                .col-lg-9
                    p.pt-2.blog-heading.text-uppercase Our Mission
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                      |industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                      |and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                      |the.
            .row.pt-2
                .col-lg-9
                    p.pt-2.blog-heading.text-uppercase Our vision
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                      | industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                      | and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                      | the.
                .col-lg-3.pr-0
                        img.background-color(src="../img/vision-pic.png")
    .container.p-y.px-0.pyramid-y-left.pyramid-blue.relative
        h6.blog-title Clients
        p.blog-subtitle Our Great Clients
        .row.m-0.pl-2
            .img-border.relative
                img(src="../img/beerbeer.png")
            .img-border.relative
                img(src="../img/prestiges.png")
            .img-border.relative
                img(src="../img/deerbrand.png")
            .img-border.relative
                img(src="../img/genuine.png")
            .img-border.relative
                img(src="../img/retrobrand.png")
            .img-border.relative
                img(src="../img/retrodesign.png")
        .row.m-0.pl-2
            .img-border.relative
                img(src="../img/beerbrand.png")
            .img-border.relative
                img(src="../img/breweryco.png")
            .img-border.relative
                img(src="../img/premiumprod.png")
            .img-border.relative
                img(src="../img/starretro.png")
            .img-border.relative
                img(src="../img/hosoreno.png")
            .img-border.relative
                img(src="../img/lastbeer.png")
    .container-fluid.black
        footer.container.relative.pyramid-yel.p-y
            .row
                .col-lg-2.link-color.pt-3
                    a(href="#")
                        img.pdg-logo(src="../img/businessplus-logo.png" alt="logo")
                    p.copyright 2015 © lawyer.
                    a(href="#")
                        i.fa.fa-facebook-square.fa-3x(aria-hidden="true")
                    a(href="#")
                        i.fa.fa-google-plus-official.fa-3x(aria-hidden="true")
                    a(href="#")
                        i.fa.fa-twitter-square.fa-3x(aria-hidden="true")
                    a(href="#")
                        i.fa.fa-linkedin-square.fa-3x(aria-hidden="true")
                .col-lg-3.offset-lg-2
                    p.form-head.pl-1 Navigation
                    nav.navbar
                        ul.nav.nav-footer
                            li.nav-item
                                a.nav-link(href="#") home
                            li.nav-item
                                a.nav-link.orange(href="#") about us
                            li.nav-item
                                a.nav-link(href="#") services
                            li.nav-item
                                a.nav-link(href="#") news
                            li.nav-item
                                a.nav-link(href="#") blog
                            li.nav-item
                                a.nav-link(href="#") pages
                            li.nav-item
                                a.nav-link(href="#") contact us
                .col-lg-5
                    form
                        p.form-head.pb-2 quick contact us
                        table.border-form
                            tr
                                td.td-padding
                                    input.relative(type="text" name="Name" value="Name")
                                td.td-padding
                                    input(type="email" name="email" value="Email")
                            tr
                                td(colspan="2")
                                    textarea(name="comment" placeholder="Comment")
                        p
                            button.btn.btn-type.mt-2(type="button") Submit Now


