doctype html
html(lang="en")
    head
        title blog-post
        include includes/head
    body
        .container.relative.absolute
            header.container.absolute.header-size.px-0
                .row.flex-items-lg-middle
                    .col-lg-2
                        a(href="#")
                            img(src="../img/businessplus-logo.png" width="164" height="34")
                    .col-lg-3
                        .row.flex-items-lg-middle
                            i.fa.fa-phone.fa-2x.pl-1.border-line.pl-1(aria-hidden="true")
                            p.pt-1.pl-1.tx-color +9978-8856-999
                    .col-lg-7
                        nav.navbar.px-0
                            ul.nav.navbar-nav.nav-head-text
                                li.nav-item
                                    a.nav-link(href="#") home
                                li.nav-item
                                    a.nav-link(href="#") about us
                                li.nav-item
                                    a.nav-link(href="#") services
                                li.nav-item
                                    a.nav-link(href="#") news
                                li.nav-item
                                    a.nav-link.orange(href="#") blog
                                li.nav-item
                                    a.nav-link(href="#") pages
                                li.nav-item
                                    a.nav-link(href="#") contact us
        .banner-cont.background-color.relative
            img.banner(src="../img/background-img.png" alt="banner")
        article.container.p-y.pl-0
            h6.blog-title Blog Post
            p.blog-subtitle Our featured Post
            .row
                .col-lg-1
                    img(src="../img/img-photo.png" alt="photo")
                .col-lg-11
                    h1.blog-heading Blog Heading Here
                    p.blog-date Posted by: admin, October- 11- 2015
                    img(src="../img/img-blog.png" alt="imgblog-1")
                    p.py-2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           |been the
                           |industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                           |scrambled it to make a type specimen book. It has survived not only five centuries, but also
                           |the leap into electronic typesetting, remaining essentially unchanged. It was popularised Lorem Ipsum is
                           |simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                           |dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                           |a type specimen book. It has survived not only five centuries.
                    h6.blog-heading Many publishing packages
                    p.py-2 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                           |unknown printer
                           |took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                           |centuries, but also the leap into electronic typesetting, remaining essentially unchanged It was
                           |popularised Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           |been the industry's.
                    p.quote.ml-3.mt-2.mb-2.pl-3.pt-1.pb-1 lorem Ipsum is simply dummy text of the printing and
                           |typesetting industry. Lorem Ipsum has
                           |been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                           |type and scrambled it to make a type.
                    p.py-2 It is a long established fact that a reader will be distracted by the readable content of a
                           |page when
                           |looking at its layout. The point of using Lorem
                           |Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                           |content here', making it look like readable English. Many desktop publishing packages
                .mb-3.col-lg-12.offset-lg-1.flex-center.link-color
                    span.pr-1.text-uppercase Share:
                    a(href="#")
                        i.pr-1.fa.fa-facebook.fa-3x(aria-hidden="true")
                    a(href="#")
                        i.pr-1.fa.fa-twitter.fa-3x(aria-hidden="true")
                    a(href="#")
                        i.pr-1.fa.fa-google-plus-official.fa-3x(aria-hidden="true")
                .col-lg-2
                    img(src="../img/photo-big.png" alt="admin")
                .col-lg-10.bg-color-ad.relative
                    p.admin-name.pt-2 Admin Name
                    p Established fact that a reader will be distracted by the readable content of a page when looking at its
                           |layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                           |opposed to using 'Content here, content here', making it look like readable English. Many desktop
                           |publishing
                           |packages.
                .col-lg-12.my-3
                    p.blog-title Comments
                    p.blog-subtitle Suggestions & feedback
                .col-lg-1
                    img(src="../img/comm-photo1.png")
                .col-lg-11.pl-3.bord-bottom.pb-2
                    p.comm-name Name here
                        span.orange October- 11- 2015
                    p It is a long established fact that a reader will be distracted by the readable content of a page when
                          |looking at its layout. The point of using
                          |Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                          |'Content here, content here', making.
                    a(href="#")
                        i.fa.fa-arrow-circle-o-left.fa-3x.orange(aria-hidden="true")
                .col-lg-1.mt-2
                    img(src="../img/img-photo-2.png")
                .col-lg-11.pl-3.bord-bottom.pb-2.mt-2
                    p.comm-name Name here
                        span.orange October- 11- 2015
                    p It is a long established fact that a reader will be distracted by the readable content of a page when
                        | looking at its layout. The point of using
                        | Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                        | 'Content here, content here', making.
                    a(href="#")
                        i.fa.fa-arrow-circle-o-left.fa-3x.orange(aria-hidden="true")
                .col-lg-1.offset-lg-1.mt-2
                    img(src="../img/comm-photo-3.png")
                .col-lg-10.pl-3.bord-bottom.pb-2.mt-2
                    p.comm-name Name here
                        span.orange October- 11- 2015
                    p It is a long established fact that a reader will be distracted by the readable content of a page when
                        |looking
                        |at its layout. The point of using
                        |Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                        |here,
                        |content here', making.
                    a(href="#")
                        i.fa.fa-arrow-circle-o-left.fa-3x(aria-hidden="true")
        .container-fluid.grey
            .container.relative.pyramid-blue.p-y
                p.blog-title Leave your comment
                p.blog-subtitle.pb-2 Submit your comments now
                form.form-comment
                    .bord-bottom-form.mb-3
                        p
                            label name
                                span.orange *
                                    input(type="text" name="Name")
                    .bord-bottom-form.mb-3
                        p
                            label email adress
                                span.orange *
                                    input(type="text" name="email")
                    .bord-bottom-form.mb-3
                        p
                            label phone number
                                span.orange *
                                    input(type="text" name="phone")
                    span comment
                        span.orange *
                    .bord-bottom-form.text-size
                        textarea(name="comment")
                    button.btn.btn-type.my-3(type="button") Submit now
        .container-fluid.black
            footer.container.relative.pyramid-yel.p-y
                .row
                    .col-lg-2.link-color.pt-3
                        a(href="#")
                            img.pdg-logo(src="../img/businessplus-logo.png" alt="logo")
                        p.copyright 2015 © lawyer.
                        a(href="#")
                            i.fa.fa-facebook-square.fa-3x(aria-hidden="true")
                        a(href="#")
                            i.fa.fa-google-plus-official.fa-3x(aria-hidden="true")
                        a(href="#")
                            i.fa.fa-twitter-square.fa-3x(aria-hidden="true")
                        a(href="#")
                            i.fa.fa-linkedin-square.fa-3x(aria-hidden="true")
                    .col-lg-3.offset-lg-2
                        p.form-head.pl-1 Navigation
                        nav.navbar
                            ul.nav.nav-footer
                                li.nav-item
                                    a.nav-link(href="#") home
                                li.nav-item
                                    a.nav-link(href="#") about us
                                li.nav-item
                                    a.nav-link(href="#") services
                                li.nav-item
                                    a.nav-link(href="#") news
                                li.nav-item
                                    a.nav-link.orange(href="#") blog
                                li.nav-item
                                    a.nav-link(href="#") pages
                                li.nav-item
                                    a.nav-link(href="#") contact us
                    .col-lg-5
                        form
                            p.form-head.pb-2 quick contact us
                            table.border-form
                                tr
                                    td.td-padding
                                        input.relative(type="text" name="Name" value="Name")
                                    td.td-padding
                                        input(type="email" name="email" value="Email")
                                tr
                                    td(colspan="2")
                                        textarea(name="comment" placeholder="Comment")
                            p
                                button.btn.btn-type.mt-2(type="button") Submit Now





