doctype html
html(lang="en")
    head
        title Careers
        include includes/head
    body
        .container.relative.absolute
            header.container.absolute.header-size.px-0
                .row.flex-items-lg-middle
                    .col-lg-2
                        a(href="#")
                            img(src="../img/businessplus-logo.png" width="164" height="34")
                    .col-lg-3
                        .row.flex-items-lg-middle
                            i.fa.fa-phone.fa-2x.pl-1.border-line.pl-1(aria-hidden="true")
                            p.pt-1.pl-1.tx-color +9978-8856-999
                    .col-lg-7
                        nav.navbar.px-0
                            ul.nav.navbar-nav.nav-head-text
                                li.nav-item
                                    a.nav-link(href="#") home
                                li.nav-item
                                    a.nav-link(href="#") about us
                                li.nav-item
                                    a.nav-link(href="#") services
                                li.nav-item
                                    a.nav-link(href="#") news
                                li.nav-item
                                    a.nav-link(href="#") blog
                                li.nav-item
                                    a.nav-link(href="#") pages
                                li.nav-item
                                    a.nav-link(href="#") contact us
        .banner-cont.background-color.relative
            img.banner(src="../img/careers-bg.png" alt="banner")
        .container.relative.pyramid-blue.p-y
            .row
                .offset-lg-1.col-lg-3.p-0.relative
                    img.photo-abs(src="../img/careers-photo2.png")
                    img.float-lg-right(src="../img/careers-photo1.png")
                .offset-lg-1.col-lg-7.float-lg-left.p-0
                    h6.blog-title Careers
                    p.blog-subtitle Our Opaning positions
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        | industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        | scrambled it to make a type specimen book. It has survived not only five centuries.
        .container-fluid.grey
            .container.p-y.pyramid-yel.relative
                h6.blog-title Our offers
                p.blog-subtitle.pb-3 We offering awesome facts
                .row.mb-3
                    .col-lg-1
                        img(src="../img/fun-icon.png")
                    .col-lg-5
                        p.offers-title.text-uppercase Fun environment
                        p Lorem Ipsum is simply dummy text of the printing and type
                        | setting industry. Lorem Ipsum has been the industry'
                    .col-lg-1
                        img(src="../img/compensation-icon.png")
                    .col-lg-5
                        p.offers-title.text-uppercase compensation
                        p Lorem Ipsum is simply dummy text of the printing and type
                        | setting industry. Lorem Ipsum has been the industry'
                .row
                    .col-lg-1
                        img(src="../img/all-you-need-icon.png")
                    .col-lg-5
                        p.offers-title.text-uppercase all you need
                        p Lorem Ipsum is simply dummy text of the printing and type
                        | setting industry. Lorem Ipsum has been the industry'
                    .col-lg-1
                        img(src="../img/pleasure-trip-icon.png")
                    .col-lg-5
                        p.offers-title.text-uppercase pleasure tips
                        p Lorem Ipsum is simply dummy text of the printing and type
                        | setting industry. Lorem Ipsum has been the industry'
        .container.p-y.pyramid-blue.relative
            h6.blog-title open positions
            p.blog-subtitle Some of our featured vacancy
            .row.my-1.flex-items-lg-middle.border-line.py-2
                .col-lg-4
                    p.offers-title.text-uppercase.border-line.py-2 customer relationship manager
                .offset-lg-6.col-lg-2
                    i.fa.fa-arrow-circle-o-right.fa-3x.float-lg-right(aria-hidden="true")
            a.nounderline(data-toggle="collapse" href="#collapseExample" aria-expanded="false"
            aria-controls="collapseExample")
                .row.flex-items-lg-middle.border-line
                    .col-lg-4
                        p.offers-title.text-uppercase.pt-1 HR manager
                    .offset-lg-6.col-lg-2
                        i.fa.fa-arrow-circle-o-down.fa-3x.float-lg-right.blue-arrow(aria-hidden="true")
            #collapseExample.collapse
                .row.mt-1
                    .col-lg-1
                        p.text-uppercase Mission
                    .offset-lg-1.col-lg-4
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .col-lg-1
                        p.text-uppercase Location
                    .offset-lg-1.col-lg-4
                        p Washington DC
                    .offset-lg-6.col-lg-1
                        p.text-uppercase type
                    .offset-lg-1.col-lg-4
                        p Full-Time Position
                    .col-lg-1
                        p.text-uppercase require
                    .offset-lg-1.col-lg-4
                        ul.marked
                            li &#10004; Lorem ipsum dolor sit amet, consectetur.
                            li &#10004; Praesent in urna at neque varius.
                            li &#10004; Mauris lobortis orci non viverra semper.
                            li &#10004; Phasellus tristique sem vitae lorem.
                    .col-lg-1
                        p.text-uppercase other
                    .offset-lg-1.col-lg-4
                        p Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been
                            | the industry.
                    .offset-lg-10.col-lg-2.p-0.pb-2.border-line
                        button.btn.btn-type.btn-size.text-uppercase.btn-back.float-lg-right apply now
            .row.py-2.flex-items-lg-middle.border-line
                .col-lg-4
                    p.offers-title.text-uppercase Customer Success Manager
                .offset-lg-7.col-lg-1
                    i.fa.fa-arrow-circle-o-right.fa-3x.float-lg-right(aria-hidden="true")
            .row.flex-items-lg-middle.border-line.py-2
                .col-lg-4
                    p.text-uppercase.offers-title Infrastructure Developer
                .offset-lg-7.col-lg-1
                    i.fa.fa-arrow-circle-o-right.fa-3x.float-lg-right(aria-hidden="true")
        .container-fluid.black
            footer.container.relative.pyramid-yel.p-y
                .row
                    .col-lg-2.link-color.pt-3
                        a(href="#")
                            img.pdg-logo(src="../img/businessplus-logo.png" alt="logo")
                        p.copyright 2015 © lawyer.
                        a(href="#")
                            i.fa.fa-facebook-square.fa-3x(aria-hidden="true")
                        a(href="#")
                            i.fa.fa-google-plus-official.fa-3x(aria-hidden="true")
                        a(href="#")
                            i.fa.fa-twitter-square.fa-3x(aria-hidden="true")
                        a(href="#")
                            i.fa.fa-linkedin-square.fa-3x(aria-hidden="true")
                    .col-lg-3.offset-lg-2
                        p.form-head.pl-1 Navigation
                        nav.navbar
                            ul.nav.nav-footer
                                li.nav-item
                                    a.nav-link(href="#") home
                                li.nav-item
                                    a.nav-link(href="#") about us
                                li.nav-item
                                    a.nav-link(href="#") services
                                li.nav-item
                                    a.nav-link(href="#") news
                                li.nav-item
                                    a.nav-link(href="#") blog
                                li.nav-item
                                    a.nav-link(href="#") pages
                                li.nav-item
                                    a.nav-link(href="#") contact us
                    .col-lg-5
                        form
                            p.form-head.pb-2 quick contact us
                            table.border-form
                                tr
                                    td.td-padding
                                        input.relative(type="text" name="Name" value="Name")
                                    td.td-padding
                                        input(type="email" name="email" value="Email")
                                tr
                                    td(colspan="2")
                                        textarea(name="comment" placeholder="Comment")
                            p
                                button.btn.btn-type.mt-2(type="button") Submit Now
        script(src="../bower_components/jquery/dist/jquery.js")
        script(src="../bower_components/tether/dist/js/tether.min.js")
        script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")




































